 <div class="breadcrumb-wrap">
   <div class="container">
       <div class="row">
           <div class="col-sm-6">
               <h4>News Blog</h4>
           </div>
           
           <div class="col-sm-6 hidden-xs text-right">
               <ol class="breadcrumb">
                   <li><a href="/">Home</a></li>
                   <li>Blog</li>
               </ol>
           </div>
       </div>
   </div>
 </div><!--breadcrumbs-->
 
<div class="divide60"></div>


<div class="container">
	<div class="row">
		<div class="col-md-8">
			{{# each data.posts.results}}
			<div class="blog-post">
				<h2><a href="{{postUrl slug}}">{{{title}}}</a></h2>
				<ul data-ks-editable="{{#if ../user}}{{adminEditableUrl ../../user _id}}{{/if}}" class="list-inline post-detail">
					<li>
						by 
						<a href="#">{{author.name.first}}</a>
					</li>
					<li>
						<i class="fa fa-calendar"></i>
							{{{date publishedDate format='DD MMM YYYY'}}}
						
					</li>
					<li>
						<i class="fa fa-tag"></i>
   					    <a href="#">{{{categoryList categories}}}</a>
					</li>
				</ul>
                    <div class="divide20"></div>
					<p>{{{content.brief}}}</p>
					<p > <a href="{{postUrl slug}}" class="btn btn-theme-dark">Read more...</a></p>
			</div>
			{{/each}}
				{{>pagination}}
			</div>
			
		
			 <div class="col-md-3 col-md-offset-1">
               <div class="sidebar-box margin40">
                        <h4>Categories</h4>
                        <ul class="list-unstyled cat-list">
                        	<li> <a href="/blog">all categories</a><i class="fa fa-angle-right"></i></li>
           					{{# each data.categories }}
                        	<li> <a href="{{{categoryUrl key}}}">{{{name}}}</a></a><i class="fa fa-angle-right"></i></li>
           					{{/each}}
                        </ul>
                    </div><!--sidebar-box-->
                </div>
		
		{{!--
		<div class="col-sm-4 col-md-3">
			<h2>Categories</h2>
			<div style="margin-top: 70px;" class="list-group">
				<a href="/blog" class="active list-group-item">All Categories</a>
				{{# each data.categories }}
				<a href="{{categoryUrl key}}" class="false list-group-item">{{name}}</a>

			</div>
		</div>
		--}}
		
		
	</div>

</div>
