 <div class="breadcrumb-wrap">
   <div class="container">
       <div class="row">
           <div class="col-sm-6">
               <h4>Contact us</h4>
           </div>
           <div class="col-sm-6 hidden-xs text-right">
               <ol class="breadcrumb">
                   <li><a href="/">Home</a></li>
                   <li>Contact</li>
               </ol>
           </div>
       </div>
   </div>
 </div><!--breadcrumbs-->
 
        <div class="divide60"></div>

        <div class="container">
            <div class="row">
                <div class="col-md-10 col-sm-offset-1 margin30 sky-form-columns contact-sky-option">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="center-heading">
                                <h2>Contact us</h2>
                                <span class="center-line"></span>
                                <p>
                                    Your message will be dispatched directly to our contacts worldwide who will answer as soon as they can.
                                </p>
                            </div>
                        </div>                   
                    </div><!--center heading row-->
                    <div class="row margin40">
                    
                        
                    </div>
            
               <form action="contact" method="post" id="sky-form" class="sky-form sky-form-columns" value="contact">
				
				<fieldset>					
					<div class="row">
						<section class="col col-6">
							
							<label class="input">
								<i class="icon-append fa fa-user"></i>
                                                                <input type="text" name="name" id="name" placeholder="Name">
                                                                <b class="tooltip tooltip-top-right">Enter your name</b>
							</label>
						</section>
						<section class="col col-6">
							
							<label class="input">
								<i class="icon-append fa fa-envelope-o"></i>
                                                                <input type="email" name="email" id="email" placeholder="Email">
                                                                <b class="tooltip tooltip-top-right">Your mail address</b>
							</label>
						</section>
					</div>
					
					<section>
						
						<label class="input">
							<i class="icon-append fa fa-tag"></i>
                                                        <input type="text" name="subject" id="subject" placeholder="Subject">
                                                         <b class="tooltip tooltip-top-right">Subject (optional)</b>
						</label>
					</section>
					
					<section>
						
						<label class="textarea">
							<i class="icon-append fa fa-comment"></i>
                                                        <textarea rows="4" name="message" id="message" placeholder="Message"></textarea>
                                                         <b class="tooltip tooltip-top-right">Your message (minimum 10 Characters)</b>
						</label>
					</section>
					
					<section>
						
						<label class="input input-captcha">
                                                    <img src="captcha.jpg" width="150" height="50" alt="Captcha image" />
                                                    <input type="text" name="captcha" id="captcha" placeholder="Enter the 6 digits captcha">
						<b class="tooltip tooltip-bottom-right">Enter Correct Captcha</b>
                        </label>
					</section>
					
					<section>
						<label class="checkbox"><input type="checkbox" name="newsletter" value="newsletter" checked><i></i>I wish to receive the newsletter</label>
					</section>
				</fieldset>
				
				<footer>
					<button type="submit" class="btn btn-theme-bg btn-lg ">Send message</button>
				</footer>
				
				<div class="message">
					<i class="fa fa-check"></i>
					<p>Your message was successfully sent!</p>
				</div>
			</form>	
        						
                </div>

            </div>
        </div><!--contact advanced container end-->
        <div class="divide60"></div>
