<div class="container">
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
			<div class="blog-post">
				<hr>
				<p><a href="/blog">&larr; back to the blog</a></p>
				<hr>
				
				<header>
					<h1>{{data.post.title}}</h1>
					<ul data-ks-editable="{{#if ../user}}{{adminEditableUrl ../../user _id}}{{/if}}" class="list-inline post-detail">
					<li>
						{{#if data.post.author.name.first}} by {{data.post.author.name.first}}{{/if}}
					</li>
					<li>
						<i class="fa fa-calendar"></i>
							{{{date data.post.publishedDate format='DD MMM YYYY'}}}
						
					</li>
					<li>
						<i class="fa fa-tag"></i>
   					    <a href="#">{{{categoryList data.post.categories}}}</a>
					</li>
   				    </ul>

				</header>
				 <div class="divide20"></div>
				<div class="post">
					{{{data.post.content.extended}}}
				</div>
			</div>
		</div>
	</div>
</div>


