@charset "UTF-8";
/*! inductum - v0.0.0 - 2017-03-21 [copyright: undefined] */
/* 
    Document   : assan
    Author     : Design_mylife
    Description:assan multi-page for Multipurpose use
    Version    : V1.7.5
*/
body {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-family: "Dosis", sans-serif !important;
  color: #424242;
  font-size: 14px;
  line-height: 24px;
  background-color: #fff; }

/*
/*-----------------------------------------------------------------------------------*/
/*	RESET
/*-----------------------------------------------------------------------------------*/
*,
*:before,
*:after {
  box-sizing: border-box; }

:focus {
  outline: 0 !important; }

iframe {
  border: none;
  width: 100%; }

::-moz-selection {
  background: #fefac7;
  /* Safari */
  color: #555555; }

::selection {
  background: #fefac7;
  /* Safari */
  color: #555555; }

::-moz-selection {
  background: #fefac7;
  /* Firefox */
  color: #555555; }

strong, b, span {
  font-family: "Dosis", sans-serif;
  font-weight: 400; }

input,
button,
select,
textarea {
  font-family: "Dosis", sans-serif;
  font-size: 14px;
  font-weight: 400; }

a {
  color: #000;
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in; }

a:hover,
a:focus {
  color: #4f82e9;
  text-decoration: none; }

.colored-text {
  color: #4f82e9; }

.padded-section {
  padding: 80px 0; }

p {
  font-family: "Dosis", sans-serif; }

ul, ul li, ul li a {
  font-family: "Dosis", sans-serif; }

/* Headings */
h1, h2, h3, h4, h5, h6 {
  color: #060606;
  font-weight: 400;
  margin: 0;
  font-family: "Dosis", sans-serif !important; }

h1 {
  font-size: 3.2em;
  line-height: 44px;
  margin: 0 0 44px 0; }

h2 {
  font-size: 2.6em;
  font-weight: 300;
  line-height: 42px;
  margin: 0 0 32px 0; }

h3 {
  font-size: 1.8em;
  font-weight: 300;
  letter-spacing: normal;
  line-height: 24px;
  margin-bottom: 33px; }

/*use in section headings*/
h3.heading {
  border-bottom: 1px solid #E5E5E5;
  color: #060606;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  margin: 0 0 25px;
  padding-bottom: 10px;
  position: relative;
  text-transform: uppercase; }

h3.heading:before {
  position: absolute;
  content: "";
  height: 1px;
  background: #4f82e9;
  width: 90px;
  bottom: -1px;
  left: 0px; }

h4 {
  font-size: 1.4em;
  font-weight: 300;
  letter-spacing: normal;
  line-height: 27px;
  margin: 0 0 14px 0; }

h5 {
  font-size: 1em;
  font-weight: 300;
  letter-spacing: normal;
  line-height: 18px;
  margin: 0 0 14px 0; }

h6 {
  color: #333;
  font-size: 1em;
  font-weight: 300;
  letter-spacing: normal;
  line-height: 18px;
  margin: 0 0 14px 0; }

/*parahraphs*/
p {
  color: #777777;
  line-height: 24px;
  margin: 0 0 20px; }

/*******section heading**********/
.center-heading {
  text-align: center;
  margin-bottom: 40px; }

.center-heading h2 {
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 5px;
  font-size: 25px;
  letter-spacing: 10px; }

.center-line {
  display: inline-block;
  width: 70px;
  height: 6px;
  border-top: 1px solid #4f82e9;
  border-bottom: 1px solid #4f82e9;
  margin: auto; }

.center-heading p {
  margin-top: 10px; }

/*-----------------------------------------------------------------------------------*/
/*	DIVIDERS
/*-----------------------------------------------------------------------------------*/
.divide0 {
  width: 100%;
  height: 0px; }

.divide2 {
  width: 100%;
  height: 2px; }

.divide3 {
  width: 100%;
  height: 3px; }

.divide5 {
  width: 100%;
  height: 5px; }

.divide10 {
  width: 100%;
  height: 10px; }

.divide15 {
  width: 100%;
  height: 15px; }

.divide20 {
  width: 100%;
  height: 20px; }

.divide25 {
  width: 100%;
  height: 25px; }

.divide30 {
  width: 100%;
  height: 30px; }

.divide35 {
  width: 100%;
  height: 35px; }

.divide40 {
  width: 100%;
  height: 40px; }

.divide45 {
  width: 100%;
  height: 40px; }

.divide50 {
  width: 100%;
  height: 50px; }

.divide55 {
  width: 100%;
  height: 55px; }

.divide60 {
  width: 100%;
  height: 60px; }

.divide65 {
  width: 100%;
  height: 65px; }

.divide70 {
  width: 100%;
  height: 70px; }

.divide75 {
  width: 100%;
  height: 75px; }

.divide80 {
  width: 100%;
  height: 80px; }

.divide85 {
  width: 100%;
  height: 85px; }

/*margins*/
.margin10 {
  margin-bottom: 10px; }

.margin20 {
  margin-bottom: 20px; }

.margin30 {
  margin-bottom: 30px; }

.margin40 {
  margin-bottom: 40px; }

/***********bootstrap navigation default overrides--*/
.navbar-default {
  font-family: "Dosis", sans-serif;
  border: none;
  border-radius: 0;
  margin-bottom: 0;
  width: 100%;
  min-height: 60px;
  padding: 5px 0;
  -ms-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in; }

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #4f82e9;
  background-color: transparent; }

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #4f82e9;
  background-color: transparent; }

.navbar-brand {
  font-weight: 700;
  color: #000 !important;
  font-size: 30px;
  line-height: 20px;
  font-style: normal;
  text-transform: uppercase; }

.navbar-default .navbar-nav > li > a {
  color: #060606;
  font-weight: 500;
  font-size: 12px;
  font-family: "Dosis", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px; }

.navbar-default .navbar-nav > li > a:hover {
  color: #4f82e9; }

/*============================*/
/*======dropdowm menu=========*/
/*============================*/
.navbar .dropdown-menu {
  padding: 0;
  margin: 0;
  min-width: 190px;
  background-color: rgba(30, 30, 30, 0.97);
  border: none;
  border-radius: 0; }

.search-dropdown {
  min-width: 244px !important; }

.navbar .dropdown-menu li a {
  font-weight: 300;
  text-transform: uppercase;
  padding: 9px 20px;
  font-size: 12px;
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
  color: #999; }

.dropdown-menu .label {
  margin-top: 6px; }

.navbar .dropdown-menu li a:hover {
  background-color: #222;
  color: #fff; }

.navbar .dropdown-menu li:last-child a {
  border-bottom: 0 !important; }

/*************************************************************/
/************************** Buttons **************************/
/*************************************************************/
.btn {
  font-weight: 400;
  letter-spacing: 2px;
  font-family: "Dosis", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  border-radius: 2px; }

.btn-lg {
  padding: 14px 28px 13px 28px;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase; }

.btn:focus, .btn:hover {
  outline: 0;
  color: #fff; }

.btn-xs {
  font-size: 12px; }

.btn-theme-bg {
  border-color: #4f82e9 !important;
  color: #fff;
  background-color: #4f82e9 !important; }

.btn i {
  margin-right: 10px; }

.btn-theme-bg:hover {
  background-color: #333 !important;
  border-color: #333 !important; }

.btn-theme-dark {
  background-color: #333;
  color: #fff; }

.btn-theme-dark:hover {
  color: #fff;
  background-color: #4f82e9; }

/*********border-buttons**********/
.border-black {
  border: 1px solid #000;
  color: #000;
  background-color: transparent; }

.border-black:hover {
  background-color: #000;
  border-color: #000;
  color: #fff; }

.border-white {
  border: 1px solid #fff;
  color: #fff; }

.border-white:hover {
  background-color: #fff;
  border-color: #fff;
  color: #000; }

.border-theme {
  border: 1px solid #4f82e9;
  color: #4f82e9; }

.border-theme:hover {
  background-color: #4f82e9;
  border-color: #4f82e9;
  color: #fff; }

/************************image hover effect*******************/
.item-img-wrap {
  position: relative;
  text-align: center;
  overflow: hidden; }

.item-img-wrap img {
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear; }

.item-img-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0; }

.item-img-overlay span {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url(../img/plus.png) no-repeat center center rgba(108, 168, 255, 0.7);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  -webkit-transition: opacity 250ms linear;
  transition: opacity 250ms linear; }

.item-img-wrap:hover .item-img-overlay span {
  opacity: 1; }

.item-img-wrap:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1); }

/*forms*/
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.form-control {
  border: 1px solid #ddd;
  border-radius: 0;
  font-size: 12px;
  color: #7a7a7a;
  -ms-box-shadow: none;
  box-shadow: none;
  background: #FFF;
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in; }

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.form-control:focus {
  border-color: #bbb;
  background: #FFF;
  -ms-box-shadow: none;
  box-shadow: none; }

/*************parallax*************/
.parallax {
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100% auto;
  width: 100%;
  background-size: cover;
  background-attachment: fixed; }

/*intro text*/
.intro-text {
  padding: 60px 0;
  background-color: #eee; }

.intro-text h2 {
  font-weight: 400;
  margin-bottom: 15px;
  font-family: "Dosis", sans-serif; }

.intro-text a {
  margin: 7px; }

/*services*/
.services-wrap {
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: #fff; }

.services-box {
  clear: both; }

.services-box-icon {
  background: transparent;
  width: 50px;
  height: 50px;
  display: inline-block;
  float: left;
  height: 35px;
  line-height: 35px;
  margin-right: 10px;
  position: relative;
  text-align: center;
  top: 5px; }

.services-box-icon i {
  color: #4f82e9;
  font-size: 30px; }

.services-box-info {
  padding-left: 60px; }

.services-box-info h4 {
  font-weight: 500;
  font-size: 18px; }

/*services 2*/
.service-box i {
  width: 85px;
  height: 85px;
  line-height: 85px;
  text-align: center;
  color: #4f82e9;
  font-size: 30px;
  background-color: #f7f9fa;
  border-radius: 50%;
  margin-bottom: 25px;
  -webkit-transition: 0.7s ease-in-out;
  transition: 0.7s ease-in-out; }

.service-box h3 {
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 15px;
  font-weight: 500; }

.service-box:hover i {
  -webkit-transform: rotateY(360deg);
  transform: rotateY(360deg);
  color: #fff;
  background-color: #4f82e9; }

/***services3***/
#services-bg-wrap {
  padding: 90px 0;
  background-color: #f7f9fa; }

.service-3-meta h1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 25px; }

/**************work and portfolio whole*******/
/* mouse grab icon */
.grabbing {
  cursor: url(../img/grabbing.png) 8 8, move !important; }

.portfolio {
  padding: 60px 0;
  background-color: #f5f5f5; }

.work-desc {
  width: 100%;
  padding: 10px 20px;
  background: #FFF;
  /*    border: 1px solid #e3e3e3;*/
  border-top: none;
  position: relative; }

.work-desc:before {
  content: "";
  display: block;
  position: absolute;
  top: -8px;
  margin-left: 20px;
  width: 8px;
  height: 8px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #fff;
  z-index: 100; }

.work-desc h3 {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize; }

.owl-spaced .owl-item > div {
  margin: 5px; }

.work-desc span {
  font-weight: 400;
  font-style: normal; }

.project-detail h3 {
  margin-bottom: 10px; }

/****progress bars****/
/*progress bar*/
h3.heading-progress {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 6px;
  margin-top: 0px; }

.progress {
  height: 15px;
  line-height: 10px;
  -ms-box-shadow: none;
  box-shadow: none;
  background: #E9E9E9;
  border-radius: 0; }

.progress-bar {
  line-height: 10px;
  background: #4f82e9;
  -ms-box-shadow: none;
  box-shadow: none; }

/**owl**/
.owl-theme .owl-controls .owl-page span {
  display: block;
  width: 25px !important;
  height: 5px !important;
  margin: 5px 7px;
  filter: Alpha(Opacity=50);
  opacity: 0.5;
  border-radius: 0;
  background: #444 !important; }

/************************************************* css for footers****************************************/
/* #footer is by default*/
#footer {
  background: #121214;
  border-top: 4px solid #e1e1e1;
  font-size: 0.9em;
  padding: 80px 0 0;
  position: relative;
  clear: both; }

.footer-col h3 {
  color: #f9f9f9;
  margin-bottom: 25px;
  font-size: 18px;
  font-weight: 400;
  font-style: normal; }

.contact p {
  margin-bottom: 10px; }

.contact strong {
  margin-right: 10px;
  font-weight: bold; }

.contact strong i {
  margin-right: 5px; }

.contact a {
  color: #777; }

.contact a:hover {
  color: #4f82e9; }

.f2-work li {
  margin: 2px; }

.f2-work li a img {
  width: 70px;
  height: 50px;
  border: 2px solid transparent;
  -webkit-transition: 0.7s ease-in-out;
  transition: 0.7s ease-in-out; }

.f2-work li a:hover img {
  border-color: #4f82e9; }

.footer-btm {
  margin-top: 30px;
  padding: 20px;
  background-color: #0c0c0c;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px; }

.news-form .form-control {
  border-radius: 3px;
  height: 30px; }

@media (max-width: 767px) {
  .news-form {
    text-align: center !important; }
  .news-form .form-control {
    margin-bottom: 10px; } }

/****************footer 2****************/
#footer-option {
  background: #121214;
  border-top: 4px solid #e1e1e1;
  font-size: 0.9em;
  padding: 80px 0 0;
  position: relative;
  clear: both; }

#footer-option .footer-col h3 {
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  color: #fff; }

#footer-option .footer-btm {
  background-color: #0c0c0c; }

#footer-option .contact a {
  color: #777; }

#footer-option .contact a:hover {
  color: #4f82e9; }

.subscribe-form .form-control {
  height: 44px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px; }

/*************soical icons**********/
.social-1 {
  margin: 0;
  padding: 0; }

.social-1 li a i {
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  color: #fff;
  font-size: 16px;
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in; }

.social-1 li a i:hover {
  opacity: 0.8; }

.social-1 li a i.fa-facebook {
  background-color: #3b5998; }

.social-1 li a i.fa-twitter {
  background-color: #0084b4; }

.social-1 li a i.fa-google-plus {
  background-color: #C63D2D; }

.social-1 li a i.fa-pinterest {
  background-color: #cb2027; }

.social-1 li a i.fa-dribbble {
  background-color: #ea4c89; }

/*purchase section*/
.purchase-sec {
  padding: 30px 0;
  background: #4f82e9; }

.purchase-sec span {
  line-height: 40px;
  color: #fff;
  font-size: 25px;
  font-weight: 300; }

/****fun facts*****/
.fun-fact-wrap {
  background: url(../img/bg-4.jpg);
  background-repeat: repeat !important;
  padding-top: 100px;
  padding-bottom: 70px; }

.facts-in {
  text-align: center; }

.facts-in h3 {
  margin-bottom: 25px;
  font-size: 50px;
  font-weight: 700;
  color: #fff; }

.facts-in h3 i {
  font-size: 40px;
  margin-right: 20px;
  color: #4f82e9; }

.facts-in h4 {
  margin-bottom: 0px;
  color: #fff; }

@media (max-width: 992px) {
  .facts-in {
    margin-bottom: 70px; } }

/************team section css here*****/
.team-wrap {
  padding: 3px 3px 20px;
  border: 1px solid #eee;
  text-align: center; }

.team-wrap h4 {
  margin-bottom: 3px;
  margin-top: 10px; }

.team-wrap span {
  font-size: 12px;
  text-transform: uppercase;
  color: #777;
  display: block;
  margin-bottom: 10px;
  font-weight: 400; }

/******************pricing table***********************/
.price-wrap {
  border: 1px solid #e5e5e5; }

.price-title {
  padding: 10px 0;
  text-align: center; }

.price-title h4 {
  margin: 0px; }

.price-price {
  padding: 15px 0;
  font-size: 36px;
  line-height: 40px;
  background-color: #444;
  margin: 0 -1px;
  color: #FFF;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  text-align: center; }

.price-price span {
  display: block;
  font-size: 13px;
  line-height: 20px;
  color: #AAA; }

.price-features {
  padding: 10px 15px;
  border-bottom: 1px solid #E5E5E5;
  text-shadow: 1px 1px 1px #FFF;
  text-align: center; }

.price-features ul li {
  padding: 5px 0;
  border-top: 1px solid #e5e5e5; }

.price-features ul li:first-child {
  border-top: 0; }

.price-action {
  background-color: #e5e5e5;
  padding: 15px 0;
  text-align: center; }

.price-price.popular {
  background: #4f82e9;
  color: #fff; }

.price-price.popular span {
  color: #fff; }

/***************about me*********************/
.me-intro {
  background: url(../img/showcase-6.jpg);
  padding: 160px 0; }

.me-intro h2 {
  color: #000;
  font-weight: 700;
  margin-bottom: 15px;
  text-transform: uppercase; }

.me-hobbies h4 i {
  margin-right: 10px;
  color: #4f82e9; }

.services-me li {
  padding: 10px 0;
  font-size: 20px; }

.services-me li i {
  margin-right: 10px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  font-size: 18px;
  background-color: #e5e5e5;
  color: #4f82e9; }

.contact-me {
  background-color: #eee;
  padding: 40px 0; }

/*contact us*/
/*gmap*/
#map-canvas {
  width: 100%;
  height: 300px; }

#contactForm .form-control {
  min-height: 45px;
  background-color: #fff; }

.form-contact form label {
  font-size: 15px;
  font-weight: 400;
  color: #777; }

.form-contact .btn {
  display: block;
  width: 100%; }

.contact-info li a {
  color: #777; }

.help-block ul {
  list-style: none;
  padding: 0;
  margin: 0; }

.help-block ul li {
  color: red; }

label span {
  color: red;
  margin-left: 5px; }

.required span {
  color: red; }

/****clients***/
#clients-carousel {
  background-color: #424242;
  padding: 90px 0; }

#clients-carousel .center-heading h2 {
  color: #fff; }

#clients-carousel .item {
  text-align: center; }

#cta-1 {
  padding: 30px 0;
  background-color: #4f82e9;
  text-align: center; }

#cta-1 h1 {
  color: #fff; }

#cta-2 {
  padding: 30px 0;
  background-color: #f2f2f2;
  text-align: center; }

#cta-2 h1 {
  color: #333;
  margin-bottom: 15px; }

.fullwidth .project-post {
  width: 25%; }

@media (max-width: 767px) {
  .fullwidth .project-post {
    width: 50%; } }

@media (max-width: 568px) {
  .fullwidth .project-post {
    width: 100%; } }

.filter {
  text-align: center;
  margin-bottom: 30px; }

.filter li a {
  color: #999;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 300; }

.filter li a:hover {
  color: #4f82e9; }

.filter li a.active {
  color: #4f82e9; }

.filter li {
  padding: 4px 10px; }

.person {
  margin-bottom: 30px;
  text-align: center; }

.person img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px; }

.person-desc h4 {
  margin: 8px 0;
  font-weight: 400;
  font-size: 22px;
  line-height: 22px;
  text-transform: capitalize; }

/*****revolution slider*****/
.fullwidthbanner {
  width: 100%;
  position: relative; }

.rev-text-center {
  text-align: center;
  font-size: 24px;
  color: #fff !important;
  font-family: "Dosis", sans-serif;
  font-weight: 300;
  line-height: 30px; }

.rev-title-v1 {
  font-family: "Dosis", sans-serif;
  font-weight: 800 !important;
  text-transform: uppercase; }

.rev-buttons a {
  color: #fff;
  margin: 5px; }

.rev-buttons .btn-theme-bg:hover {
  color: #fff; }

.rev-buttons .border-white:hover {
  color: #333; }

.tp-caption.modern_big_redbg {
  font-family: "Dosis", sans-serif !important; }

.slider-text-title {
  font-size: 50px;
  color: #fff; }

.fullwidthbanner {
  width: 100%;
  position: relative; }

.rev-text-center {
  text-align: center;
  font-size: 24px;
  color: #fff !important;
  font-family: "Dosis", sans-serif;
  font-weight: 300;
  line-height: 30px; }

.rev-title-v1 {
  font-family: "Dosis", sans-serif;
  font-weight: 800 !important;
  text-transform: uppercase; }

.rev-buttons a {
  color: #fff;
  margin: 5px; }

.rev-buttons .btn-theme-bg:hover {
  color: #fff; }

.rev-buttons .border-white:hover {
  color: #333; }

.tp-caption.modern_big_redbg {
  font-family: "Dosis", sans-serif; }

.slider-text-title {
  font-size: 50px;
  color: #fff; }

/************box slider*******/
.tp-banner-container {
  position: relative;
  max-width: 1170px;
  margin: 20px auto; }

/************ken burns***************/
.Ken-burns-heading {
  font-size: 60px;
  color: #fff;
  font-weight: 400;
  letter-spacing: 8px;
  text-transform: uppercase;
  font-family: "Dosis", sans-serif; }

.ken-burns-cap {
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  font-family: "Dosis", sans-serif; }

.rev-buttons .btn-theme-bg {
  color: #fff; }

.rev-buttons .border-white {
  color: #fff; }
