

        <div class="divide60"></div>
        <footer id="footer">
            <div class="container">

                <div class="row">
                    <div class="col-md-3 col-sm-6 margin30">
                        <div class="footer-col">
                            <h3>About us</h3>
                            <p>
                                We take pride in building complete and innovative end-to-end solutions that challange the conventional. Our goal is to bring the new technologies to the outmoded but still critical systems and to bridge the gap between the legacy and the new.
                            </p>
        
                        </div>                        
                    </div><!--footer col-->
                    <div class="col-md-4 col-sm-7 margin30">
                        <div class="footer-col">
                            <h3>Contact</h3>

                            <ul class="list-unstyled contact">
                                <li><p><strong><i class="fa fa-map-marker"></i> Address:</strong>Str. STRUGURILOR, nr. 7, IASI, Romania</p></li> 
                                <li><p><strong><i class="fa fa-university"></i> Registration #:</strong>J22/293/2015</p></li>
                                <li><p><strong><i class="fa fa-envelope"></i> Mail Us:</strong> <a href="#">info@inductum.com</a></p></li>
                                <li><p><strong><i class="fa fa-phone"></i> Phone:</strong> +40 742 353995</p></li>

                            </ul>
                        </div>                        
                    </div><!--footer col-->
                    
                    <div class="col-md-5 col-sm-11 margin30">
                        <div class="footer-col">
                            <h3>Newsletter</h3>
                            <p>
                                If you want to be informed about our latest products and Inductum events, please subscribe to our newsletter.
                            </p>
                            
                            <form role="form" class="subscribe-form" action="/contact" method="post">
                                <div class="input-group">
                                    <input type="text" class="form-control" name="email" id="email" placeholder="Email" placeholder="Enter email to subscribe">
        						    <input type="checkbox" name="newsletter" value="newsletter" checked hidden/>
                                    <span class="input-group-btn">
                                        <button class="btn btn-theme-dark btn-lg" type="submit">Ok</button>
                                    </span>
                                </div>
                            </form>
                        
                        </div>                        
                    </div><!--footer col-->

                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="footer-btm">
                            <span>&copy;2016. Design by INDUCTUM</span>
                        </div>
                    </div>
                </div>
            </div>
        </footer><!--default footer end here-->
    
        <!--scripts and plugins -->
        <!--must need plugin jquery-->
        <script src="//inductum.com/js/jquery.min.js"></script>
        <script src="//inductum.com/js/jquery-migrate.min.js"></script> 
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
        <script src="//inductum.com/js/jquery.fileDownload.js"></script>
        <!--bootstrap js plugin-->
        <script src="//inductum.com/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>       
        <!--easing plugin for smooth scroll-->
        <script src="//inductum.com/js/jquery.easing.1.3.min.js" type="text/javascript"></script>
        <!--sticky header-->
        <script type="text/javascript" src="//inductum.com/js/jquery.sticky.js"></script>
        <!--flex slider plugin-->
        <script src="//inductum.com/js/jquery.flexslider-min.js" type="text/javascript"></script>
        <!--parallax background plugin-->
        <script src="//inductum.com/js/jquery.stellar.min.js" type="text/javascript"></script>
        <!--digit countdown plugin-->
        <script src="//cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
        <!--digit countdown plugin-->
        <script src="//inductum.com/js/jquery.counterup.min.js" type="text/javascript"></script>
        <!--on scroll animation-->
        <script src="//inductum.com/js/wow.min.js" type="text/javascript"></script> 
        <!--owl carousel slider-->
        <script src="//inductum.com/js/owl.carousel.min.js" type="text/javascript"></script>
        <!--popup js-->
        <script src="//inductum.com/js/jquery.magnific-popup.min.js" type="text/javascript"></script>
        <!--you tube player-->
        <script src="//inductum.com/js/jquery.mb.YTPlayer.min.js" type="text/javascript"></script>        
        <!--customizable plugin edit according to your needs-->
        <script src="//inductum.com/js/custom.js" type="text/javascript"></script>

        <!--revolution slider plugins-->
        <script src="//inductum.com/rs-plugin/js/jquery.themepunch.tools.min.js" type="text/javascript"></script>
        <script src="//inductum.com/rs-plugin/js/jquery.themepunch.revolution.min.js" type="text/javascript"></script>
        <script src="//inductum.com/js/revolution-custom.js" type="text/javascript"></script>
        <!--cube portfolio plugin-->
        <script src="//inductum.com/cubeportfolio/js/jquery.cubeportfolio.min.js" type="text/javascript"></script>
        <script src="//inductum.com/js/cube-portfolio.js" type="text/javascript"></script>
        
        <!--customizable plugin edit according to your needs-->
        <script src="//inductum.com/js/custom.js" type="text/javascript"></script>
        <script src="//inductum.com/js/typed.js" type="text/javascript"></script>
        <script type="text/javascript">
            /* Typed
                ================================================== */
                $(".element").each(function(){
                    var $this = $(this);
                    $this.typed({
                    strings: $this.attr('data-elements').split(','),
                    typeSpeed: 100, // typing speed
                    backDelay: 3000 // pause before backspacing
                    });
                });
        </script>
                <!--sky form plugin js-->
        <script src="//inductum.com/sky-form/js/jquery.form.min.js" type="text/javascript"></script>
        <script src="//inductum.com/sky-form/js/jquery.validate.min.js" type="text/javascript"></script>
        <script src="//inductum.com/js/sky-forms-contact.js" type="text/javascript"></script>
        <script src="//inductum.com/js/sky-forms-download.js" type="text/javascript"></script>
 