<!--navigation -->
<!-- Static navbar -->
<div class="navbar navbar-default navbar-static-top yamm sticky" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            {{#if atombox}}
                <a class="navbar-brand" href="/"><img src="//inductum.com/img/atombox_logo.png" style="width:190px;height:70px;top:-24px;" alt="LOGO"></a>
            {{else}}
                <a class="navbar-brand" href="/"><img src="//inductum.com/img/logo.png" alt="INDUCTUM LOGO"></a>
            {{/if}}


        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                {{#if atombox}}
                    <li>
                {{else}}
                    <li class="active">
                {{/if}}
            
                <a href="/" class="dropdown-toggle" >Inductum Home</a>
            
                </li>
                {{#if atombox}}
                    <li class="active">
                {{else}}
                    <li>
                {{/if}}

                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Products and Services<i class="fa fa-angle-down"></i></a>
                <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                    <li><a href="/atombox">AtomBox</a></li>
                    <li><a href="/erlang">Erlang NonStop Solutions</a></li>
                </ul>

                </li>

                <li>
                    <a href="/blog" class="dropdown-toggle">News/Blog</a>
                </li>

                <li>
                    <a href="/contact" class="dropdown-toggle">Contact</a>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-lock"></i> Sign In</a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-login-box animated fadeInUp">
                        <form role="form">
                            <h4>Signin</h4>

                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                    <input type="text" class="form-control" placeholder="Username">
                                </div>
                                <br>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                    <input type="password" class="form-control" placeholder="Password">
                                </div>
                                <div class="checkbox pull-left">
                                    <label>
                                        <input type="checkbox"> Remember me
                                    </label>
                                </div>
                                <a class="btn btn-theme-bg pull-right">Login</a>
                                <!--                                        <button type="submit" class="btn btn-theme pull-right">Login</button>                 -->
                                <div class="clearfix"></div>
                                <hr>
                            </div>
                        </form>
                    </div>
                </li>
                <!--menu login li end here-->
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
    <!--container-->
</div>
<!--navbar-default-->
        