<div class="fullwidthbanner">
    <div class="tp-banner">
        <ul style="background: url('../img/erlang_bg.jpg');background-size: cover;background-position:0px -100px; opacity:.9">
            <div class="row">
                <div class="col-md-5"></div>
                <div class="container text-center col-md-5" style="width:40%; margin-top:10%; background-color:rgb(136,132,141); opacity:.9; background-border:1px solid; border-radius:25px">
                    <h1 style="color:white">Erlang for HP NonStop</h1>
                    <a href="erlang/download" class="btn btn-lg btn-theme-bg">Download</a>
                    <a href="contact" class=" btn btn-theme-bg btn-lg">Contact us</a>
                    <h1></h1>
                </div>
                <div class="col-md2"></div>
            </div>

        </ul>
    </div>
    <!-- tp-banner -->
</div>
<!--slider -->
<div class="blue-bg">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 margin 30 ">
                <div class="services-box wow animated fadeInUp animated animated animated animated animated" style="visibility: visible;">
                    <div class="services-box-icon">
                        <i class="fa fa-download"></i>
                    </div>
                    <!--services icon-->
                    <div class="services-box-info">
                        <h4>Free for non commercial use</h4>
                        <p>
                            Erlang for HP NonStop is free for non-commercial purposes. This version of Erlang is fully functional and non-restrictive but comes with no support or warranties, so is not to be used in production
                            environments without a written permission from Inductum SRL.</p>
                    </div>
                </div>
                <!--service box-->
            </div>
            <div class="col-sm-6 margin 30">
                <div class="services-box wow animated fadeInDown animated animated animated animated animated" style="visibility: visible;">
                    <div class="services-box-icon">
                        <i class="fa fa-plug"></i>
                    </div>
                    <!--services icon-->
                    <div class="services-box-info">
                                <h4>how to install</h4>
                            <ul style="color:white; font-family:monospace;">
                                <li>mkdir erlang (ex: /user/erlang)</li>
                                <li>cp erlang_otp18_st_nse_v01.tar.gz /user/erlang (copy the archive into the new folder) </li>
                                <li>gunzip erlang_otp18_st_nse_v01.tar.gz</li>
                                <li>tar vxf erlang_otp18_st_nse_v01.tar</li>
                                <li>edit the /user/erlang/bin/erl file, change ROOTDIR line to point to the corect erlang lib. Ex: ROOTDIR="/user/erlang/lib/erlang" </li>
                                <li>export PATH=$PATH:/user/erlang/bin (optional)</li>
                            </ul>
                    </div>
                </div>
                <!--service box-->
            </div>
    </div>
</div>

