<div class="fullwidthbanner">
    <div class="tp-banner">
        <ul style="background: url('../img/inductum_bg.png');background-size: cover;">
            <!-- SLIDE -->
            <li data-transition="fade" data-slotamount="5" data-masterspeed="0" data-title="AtomBox">
                <!-- MAIN IMAGE -->

                <section id="home-parallax" class="parallax">
                    <div class="container text-center ">
                        <h1 class="typed-text">AtomBox
                                <span class="element" data-elements="understands data, knows payments, makes programming fun, is multiplatform,  is production ready, is javascript on steroids"></span>
                            </h1>
                        <p class="lead">Server-side platform independent JavaScript and DDL for defining arbitrary data models</p>
                        <span class="parallax-buttons">
                                    <a href="download" class="btn btn-theme-bg btn-lg">Download now</a>
                                    <a href="#more" class="btn btn-theme-bg btn-lg">Find out more</a>
                                    <a href="api" class=" btn btn-theme-bg btn-lg">AtomBox JS API</a>
                                    <a href="api/module-ddl.html" class=" btn btn-theme-bg btn-lg">AtomBox DDL API</a>
                            </span>
                    </div>
                </section>
    </div>
    <!-- tp-banner -->
</div>
<!--slider -->

<a name="more"></a>
<div class="divide50"></div>
<div class="assan-features">

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="center-heading">
                    <h2>AtomBox <strong>awesome features</strong></h2>
                    <span class="center-line"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 margin20">
                <div class="services-box wow animated fadeIn animated animated animated" data-wow-duration="700ms" data-wow-delay="100ms" style="visibility: visible; animation-duration: 700ms; animation-delay: 100ms;">
                    <div class="services-box-icon">
                        <i class="fa fa-code"></i>
                    </div>
                    <!--services icon-->
                    <div class="services-box-info">
                        <h4>Fast JavaScript</h4>
                        <p>
                            AtomBox includes a highly optimized JavaScript engine fully compliant with the latest standards that enables you to run standalone asynchronous programs.
                        </p>
                    </div>
                </div>
                <!--services box-->
            </div>

            <!--services col-->
            <div class="col-md-4 col-sm-6 margin20">
                <div class="services-box wow animated fadeIn animated animated animated" data-wow-duration="700ms" data-wow-delay="200ms" style="visibility: visible; animation-duration: 700ms; animation-delay: 200ms;">
                    <div class="services-box-icon">
                        <i class="fa fa-database"></i>
                    </div>
                    <!--services icon-->
                    <div class="services-box-info">
                        <h4>Advanced Data Modelling</h4>
                        <p>
                            Innovative internal data model based on Atoms and Boxes for describing any arbitrary data. Implementation includes AtomBox DDL <i>(compatible with HP NonStop DDL)</i>, IBM DFDL and ACI MDBCSV.
                        </p>
                    </div>
                </div>
                <!--services box-->
            </div>

            <!--services col-->
            <div class="col-md-4 col-sm-6 margin20">
                <div class="services-box wow animated fadeIn animated animated animated" data-wow-duration="700ms" data-wow-delay="300ms" style="visibility: visible; animation-duration: 700ms; animation-delay: 300ms;">
                    <div class="services-box-icon">
                        <i class="fa fa-server"></i>
                    </div>
                    <!--services icon-->
                    <div class="services-box-info">
                        <h4>Multi-platform and open source</h4>
                        <p>
                            Your AtomBox scrips will run with no changes on HP NonStop Guardian (R, H, J and X), IBM AIX, Linux, Windows, Oracle Solaris and others.
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                        </p>
                    </div>
                </div>
                <!--services box-->
            </div>
            <!--services col-->

            <div class="col-md-4 col-sm-6 margin20">
                <div class="services-box wow animated fadeIn animated animated animated" data-wow-duration="700ms" data-wow-delay="400ms" style="visibility: visible; animation-duration: 700ms; animation-delay: 400ms;">
                    <div class="services-box-icon">
                        <i class="fa fa-terminal"></i>
                    </div>
                    <!--services icon-->
                    <div class="services-box-info">
                        <h4>New technologies</h4>
                        <p>
                            AtomBox can help you build asynchronous REST Services, TCP/IP Sockets, accessing structured file systems like Enscribe and C-tree, use cryptographic algorithms and many more, all with just couple of lines of code!
                        </p>
                    </div>
                </div>
                <!--services box-->
            </div>

            <!--services col-->
            <div class="col-md-4 col-sm-6 margin20">
                <div class="services-box wow animated fadeIn animated animated animated" data-wow-duration="700ms" data-wow-delay="500ms" style="visibility: visible; animation-duration: 700ms; animation-delay: 500ms;">
                    <div class="services-box-icon">
                        <i class="fa fa-users"></i>
                    </div>
                    <!--services icon-->
                    <div class="services-box-info">
                        <h4>Increasing productivity</h4>
                        <p>
                            AtomBox is the swiss army knife of any developer that needs to build scripts and applications fast by focusing on the application logic instead of digging into system internals.
                        </p>
                    </div>
                </div>
                <!--services box-->
            </div>

            <!--services col-->
            <div class="col-md-4 col-sm-6 margin20">
                <div class="services-box wow animated fadeIn animated animated animated" data-wow-duration="700ms" data-wow-delay="600ms" style="visibility: visible; animation-duration: 700ms; animation-delay: 600ms;">
                    <div class="services-box-icon">
                        <i class="fa fa-globe"></i>
                    </div>
                    <!--services icon-->
                    <div class="services-box-info">
                        <h4>Production ready</h4>
                        <p>
                            AtomBox is maturing, and it now powers services for some important companies, mostly large payment service providers and top tier banks.
                        </p>

                    </div>
                </div>
                <!--services box-->
            </div>
            <!--services col-->
        </div>
        <!--services row-->
    </div>
</div>
<div class="blue-bg">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 margin 30 ">
                <div class="services-box wow animated fadeInUp animated animated animated" style="visibility: visible;">
                    <div class="services-box-icon">
                        <i class="fa fa-download"></i>
                    </div>
                    <!--services icon-->
                    <div class="services-box-info">
                        <h4>Free for non commercial use</h4>
                        <p>
                            AtomBox is free for non-commercial purposes. Just download a copy and start having some fun programming your server. This version of AtomBox is fully functional and non-restrictive but comes with no support or warranties, so is not to be used in production
                            environments without a written permission from Inductum SRL.</p>
                    </div>
                </div>
                <!--service box-->
            </div>
            <div class="col-sm-6">
                <div class="services-box wow animated fadeInDown animated animated animated" style="visibility: visible;">
                    <div class="services-box-icon">
                        <i class="fa fa-briefcase"></i>
                    </div>
                    <!--services icon-->
                    <div class="services-box-info">
                        <h4>Commercial support</h4>
                        <p>
                            Inductum provides comprehensive support services for AtomBox to assist enterprises through adoption and operation of this powerful application framework and API. A commercial AtomBox licence comes with full AtomBox source code and priority access to critical
                            bug fixes and new enhancements.</p>
                    </div>
                </div>
                <!--service box-->
            </div>

        </div>
    </div>
</div>
<div class="divide50"></div>