{{!--
<ul class="pager">
	<li {{#unless data.posts.previous}} class="disabled"{{/unless}}>
		<a href="{{paginationPreviousUrl data.posts.previous}}">
			<span class="glyphicon glyphicon-chevron-left"></span>
		</a>
	</li>
	{{{paginationNavigation data.posts.pages data.posts.currentPage data.posts.totalPages}}}
	<li {{#unless data.posts.next}}class="disabled"{{/unless}}>
		<a href="{{paginationNextUrl data.posts.next data.posts.totalPages}}">
			<span class="glyphicon glyphicon-chevron-right"></span>
		</a>
	</li>
</ul>
--}}

<ul class="pager">
	<li 
		{{#if data.posts.previous}} class="previous">
		<a href="{{paginationPreviousUrl data.posts.previous}}">
			← Previous Page
		</a>
		{{/if}}
	</li>
	{{{paginationNavigation data.posts.pages data.posts.currentPage data.posts.totalPages}}}
	
	<li 
		{{#if data.posts.next}} class="next">
		<a href="{{paginationNextUrl data.posts.next data.posts.totalPages}}">
			Next Page →
		</a>
		{{/if}}
	</li>
{{!--
       <li class="previous"><a href="#">← Previous Page</a></li>
       <li class="next"><a href="#">Next Page →</a></li>
--}}
</ul>